.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar > a {
  background-color: aliceblue;
  text-decoration: none;
  padding: 20px 50px;
}

.grid {
  display: grid;
}

.cell {
  border: solid black 1px
}

.container {
  display: flex;
  justify-content: center;
}