* {
  box-sizing:border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar > a {
  background-color: aliceblue;
  text-decoration: none;
  padding: 20px 50px;
}

.grid {
  display: grid;
}

.map-options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.map-option {
  width: 100%;
  padding-top: 100%;
  background-size: contain;
}

.cell {
  border: solid black 1px
}

.container {
  display: flex;
  justify-content: center;
}